* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: 'Fredoka', sans-serif;
}

:root {
  font-size: 10px;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 2rem 5rem;
  cursor: pointer;
  border-radius: .5rem;
  border: none;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color .2s;
  color: white;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

h1 { 
  font-size: 10rem;
  position: relative;
  bottom: 8rem;
  color: white;
}

